doctype 5
html(lang="es")
	head
		title = 'Moving'
		meta(charset='utf-8')
		link(href='/styles/styles.css',rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Syncopate:400,700',rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='scripts/scripts.js')

block content